@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#schoolsScreen {
    background: url('./assets/images/pexels-cottonbro-studio-3662666.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#schoolScreen {
    background: url('./assets/images/pexels-yan-krukau-8613089.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#homeScreen {
    background: url('./assets/images/homePicture.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#loadingScreen {
    background: url('./assets/images/pexels-cottonbro-studio-3662666.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#favoritesScreen {
    background: url('./assets/images/ps-stock.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}