@tailwind base;
@tailwind components;
@tailwind utilities;

#schoolsScreen {
    background: url('../public/images/pexels-cottonbro-studio-3662666.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#schoolScreen {
    background: url('../public/images/pexels-yan-krukau-8613089.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#homeScreen {
    background: url('../public/images/pexels-pavel-danilyuk-8422207.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}